* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    
} 
section {
    background: linear-gradient(90deg, #bfbae6, #766BCC);
    height: 100%;
    width: 100%;
}

.container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    width: 300px;
    height: 550px;
    border-radius: 0 10PX 20px 0;
    box-shadow: 0 0 20px #161616;
    background: linear-gradient(90deg, #5E55A4, #7975B6);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.card-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.card-background-1 {
    z-index: 2;
    position: absolute;
    border-top-right-radius: 60px;
    background: white;
    width: 420px;
    height: 550px;
    rotate: calc(45deg);
    top: 10;
    left: -270px;
    bottom: 50px;
}
 .card-background-2 {
    position: absolute;
    top: -130px;
    right: 0px;
    height: 200px;
    width: 150px;
    background: #6C64AC;
    border-radius: 0 20px 20px 0;
    rotate: calc(45deg);
} 
 .card-background-3 {
    position: absolute;
    top: 60px;
    right: -1000;
    left: 20px;
    bottom: 0;
    height: 150px;
    width: 600px;
    background: linear-gradient(90deg, #69669E, #5D54A4);
    border-radius: 0 20px 20px 0;
    rotate: calc(135deg);
} 
.card-background-4 {
    content: "";
    position: absolute;
    bottom: -230px;
    right: 250px;
    height: 330px;
    width: 370px;
    left: 60px;
    background: #7F7BB9;
    border-radius: 40px;
    rotate: calc(45deg);

}
form {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.form-group label {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 6px;
    color: #797979; 
    display: flex;
    align-items: baseline;
    gap: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-group img {
    filter: invert(28%) sepia(40%) saturate(1500%) hue-rotate(230deg);
}

.form-group input {
    padding: 2.8px 12px;
    border: 1px solid #ccc;
    border-width: 2px;
    border-radius: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    font-size: 0.95rem;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
    width: 60%;
}
.border-colour input{
    border-color: #6D699F;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
}

.checkbox-group label {
    color: #848484;
    font-size: 0.85rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.login-btn {
    width: 85%;
    padding: 1px 14px;
    background: white;
    color: #4e449e;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 0 5px 15px rgba(78, 68, 158, 0.3); */
    transition: background 0.2s ease;
    align-items: center;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 1.5px #5A539B;
}
.login-btn img {
    filter: invert(28%) sepia(40%) saturate(1500%) hue-rotate(230deg);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    right: -10px;
}

.login-btn:hover {
    background: #3b3280;
}
.social-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    right: 20px;
    z-index: 1;
    color: #bfbae6;
}
.social-login p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    right: 10px;
}
.social-icons {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: absolute;
    right: 0px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #4e449e; 
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    filter: brightness(0) invert(1);
}

.card:hover {
    transform: translate(10px, 0px);
    box-shadow: 2px 0 0 2px #fff;
}

